/*Common*/
:root {
	--bg-color: #ededed;
	--menu-color: #c4c4c4;
	--txt-color: #3b71c6;
	--accent-one: #aeaeaf;
	--accent-two: #8e8e8e;
	--dashlet-color: #ffffff;
	--error-color: #ff4141;
}

* {
	font-size: 16px;
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Body*/

body {
	background-color: var(--bg-color);
	overflow-x: hidden;
	color: var(--txt-color);
}

/**Header**/

header {
	width: 100%;
	float: left;
}

#msg-box {
	width: 75vw;
	position: absolute;
	top: 10vh;
	left: calc(25vw / 2);
	z-index: 10;
	display: none;
	border: 1px solid black;
	padding: 1rem;
	color: black;
}

#msg-box h1 {
	font-size: 2rem;
}

#msg-box h2 {
	font-size: 1.5rem;
}

#msg-box p {
	text-align: left;

}
/***Navi***/

#nav-placeholder {
	width: 100%;
	float: left;
}

nav {
	width: 100%;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: var(--menu-color);
}

nav ul {
	list-style-type: none;
	width: 100%;
}

nav ul li {
	font-size: 2rem;
	float: left;
	color: var(--txt-color);
	position: relative;
}

nav ul .drop-btn {
	width: 100%;
	text-align: left;
	display: none;
}

nav ul .drop-btn .hamburger {
	padding: 0;
}

nav ul .drop {
	/* width: 2rem; */
	text-align: center;
	display: list-item;
}

nav ul li a {
	display: block;
	width: 100%;
	font-size: 2rem;
	text-decoration: none;
	color: var(--txt-color);
	padding: 1rem;
	cursor: pointer;
}

nav ul li a img {
	width: 2rem;
	height: 2rem;
}

nav > ul > li:hover {
	cursor: default;
	background-color: var(--accent-one);
}

nav ul li .drop-container {
	display: none;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color: var(--menu-color);
	padding: 1rem;
	padding-bottom: 0;
	border-top: 1px solid var(--bg-color);
	border-bottom: 1px solid var(--bg-color);
}

/****login****/

.login-form {
	width: 100%;
	padding: 1rem;
}

.top-hr {
	margin-top: .5rem;
	margin-bottom: 2rem;
	width: 100%;
}

.bottom-hr {
	margin-top: 2rem;
	margin-bottom: .5rem;
	width: 100%;
}

.login-form input:not([type=checkbox]){
	font-size: 1rem;
	float: left;
	width: 100%;
	text-align: left;
	border: none;
	border-bottom: 1px solid var(--bg-color);
	background-color: transparent;
	margin-bottom: 1rem;
	-webkit-transition: border .3s;
	transition: border .3s;
	outline: none;
	color: var(--text-color);
}

.login-form input:not([type=checkbox]):focus {
	border-bottom: 1px solid var(--txt-color);
}

.login-form span{
	font-size: 1rem;
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 1rem;
}

.login-form button, button{
	font-size: 1rem;
	float: left;
	width: 100%;
	cursor: pointer;
	border: none;
	background-color: var(--txt-color);
	color: var(--bg-color);
	padding: .3rem;
	margin-bottom: .5rem;
}

/****Profile****/

.profile {
	width: 100%;
	float: left;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#usernameField {
}

#mailField {
}

#profileLink {
	font-size: 1.5rem;
	width: 100%;
	color: black;
	background-color: var(--txt-color);
}

@media only screen and (max-width: 1000px) and (min-width: 800px)
{
	.login-con > *{
		font-size: 1.2rem;
	}
}

/****Language****/

#lang {
	float: right;
}

#lang-form {
	background-color: var(--menu-color);
	padding: 0;
}

.lang-select {
	float: none;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.lang-select:hover {
	background-color: var(--accent-one);
}

@media only screen and (max-width: 300px)
{
	nav ul .drop {
		display: none;
		/* width: 100%; */
		float: left;
	}

	nav ul .drop-btn {
		display: list-item;
	}

	.drop-btn .hamburger-box {
		width: 2rem;
		height: 2rem;
	}

	nav {
		width: 64px;
	}

	nav ul li .drop-container {
		position: relative;
		margin: 0;
		float: left;
	}
}

/**Content**/
#loader-container {
	width: 100vw;
	height: 100vh;
	background: var(--bg-color) url('../img/preloader.svg') no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

/* #loader-container > img {
	width: 10rem;
	height: 10rem;
	top: calc(50% - 10rem);
	left: calc(50% - 10rem);
	position: absolute;
} */

.container {
	width: 100%;
	float: left;
	margin: 0;
}

#main {
	padding: 5rem;
}

.full {
	width: 100%;
	float: left;
}

.left {
	width: 50%;
	float: left;
	text-align: left;
}

.right {
	width: 50%;
	float: right;
	text-align: right;
}

.dashlet {
	float: left;
	background-color: var(--dashlet-color);
	padding: .25rem;
}

.dashlet h1 {
	font-size: 2rem;
}

@media only screen and (max-width: 1000px)
{
	.dashlet {
		width: 100% !IMPORTANT;
		float: left !IMPORTANT;
		margin-bottom: 4rem;
	}

	#main {
		padding: 2rem;
	}

	#ts-dashlet-left {
		border-right: none !IMPORTANT;
		width: 100%;
	}

	#ts-dashlet-left > * {
		font-size: 1.25rem;
	}

	#ts-dashlet-left > * > *{
		font-size: 1.25rem;
	}

	#ts-dashlet-right {
		border-left: none !IMPORTANT;
		width: 100%;
		font-size: 1.5rem;
	}

	#ts-dashlet-right > * > *{
		font-size: 1.5rem;
	}
}

/***profile-dashlet***/
#profile-dashlet {
	float: right;
	width: 25%;
}

/***teamspeak***/
#ts-dashlet {
	width: 70%;
}

#ts-dashlet-left {
	border-right: .5px solid var(--accent-one);
	padding: .5rem;
}

#ts-dashlet-left > * {
	padding: .25rem;
}

#ts-dashlet-right {
	padding: .5rem;
	border-left: .5px solid var(--accent-one);
}

#ts-container {
	padding: .5rem;
}

#ts-reload > button {
	float: right;
	width: 20%;
}
