/*Common*/
:root {
	--bg-color: #ededed;
	--menu-color: #c4c4c4;
	--txt-color: #3b71c6;
	--accent-one: #aeaeaf;
	--accent-two: #8e8e8e;
	--dashlet-color: #ffffff;
}

* {
	font-size: 16px;
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Body*/

body {
	background-color: var(--bg-color);
	overflow-x: hidden;
	color: var(--txt-color);
}

/**Header**/

header {
	width: 100%;
	float: left;
}

/***Navi***/

#nav-placeholder {
	width: 100%;
	float: left;
}

nav {
	width: 100%;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: var(--menu-color);
}

nav ul {
	list-style-type: none;
	width: 100%;
}

nav ul li {
	font-size: 2rem;
	float: left;
	color: var(--txt-color);
	position: relative;
}

nav ul .drop-btn {
	width: 100%;
	text-align: left;
	display: none;
}

nav ul .drop-btn .hamburger {
	padding: 0;
}

nav ul .drop {
	/* width: 2rem; */
	text-align: center;
	display: list-item;
}

nav ul li a {
	display: block;
	width: 100%;
	font-size: 2rem;
	text-decoration: none;
	color: var(--txt-color);
	padding: 1rem;
	cursor: pointer;
}

nav ul li a img {
	width: 2rem;
	height: 2rem;
}

nav > ul > li:hover {
	cursor: default;
	background-color: var(--accent-one);
}

nav ul li .drop-container {
	display: none;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color: var(--menu-color);
	padding: 1rem;
	padding-bottom: 0;
	border-top: 1px solid var(--bg-color);
	border-bottom: 1px solid var(--bg-color);
}

/****login****/

#login-form {
	width: 25rem;
	padding: 1rem;
}

form hr {
	margin-top: .5rem;
	margin-bottom: 2rem;
	width: 100%;
}

#login-form input:not([type=checkbox]){
	font-size: 1rem;
	float: left;
	width: 100%;
	text-align: left;
	border: none;
	border-bottom: 1px solid var(--bg-color);
	background-color: transparent;
	margin-bottom: 1rem;
	-webkit-transition: border .3s;
	transition: border .3s;
	outline: none;
	color: var(--text-color);
}

#login-form input:not([type=checkbox]):focus {
	border-bottom: 1px solid var(--txt-color);
}

#login-form #code {
	display: none;
}

#login-form span{
	font-size: 1rem;
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 1rem;
}

#login-form button{
	font-size: 1rem;
	float: left;
	width: 100%;
	cursor: pointer;
	border: none;
	background-color: var(--txt-color);
	color: var(--bg-color);
	padding: .3rem;
	margin-bottom: .5rem;
}

/****Profile****/

.profile {
	width: 100%;
	float: left;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#usernameField {
}

#mailField {
}

#profileLink {
	font-size: 1.5rem;
	width: 100%;
	color: black;
	background-color: var(--txt-color);
}

@media only screen and (max-width: 1000px) and (min-width: 800px)
{
	#login-con > *{
		font-size: 1.2rem;
	}
}

/****Language****/

#lang {
	float: right;
}

#lang-form {
	background-color: var(--menu-color);
	padding: 0;
}

.lang-select {
	float: none;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.lang-select:hover {
	background-color: var(--accent-one);
}

@media only screen and (max-width: 300px)
{
	nav ul .drop {
		display: none;
		/* width: 100%; */
		float: left;
	}

	nav ul .drop-btn {
		display: list-item;
	}

	.drop-btn .hamburger-box {
		width: 2rem;
		height: 2rem;
	}

	nav {
		width: 64px;
	}

	nav ul li .drop-container {
		position: relative;
		margin: 0;
		float: left;
	}
}

/**Content**/
.container-main {
	width: 100%;
	float: left;
	margin: 0;
	padding: 5rem;
}

.left {
	width: 50%;
	float: left;
}

.right {
	width: 50%;
	float: right;
	text-align: right;
}

.dashlet {
	float: left;
	background-color: var(--dashlet-color);
	padding: .25rem;
	margin-left: 4rem;
}

.dashlet h1 {
	font-size: 2rem;
}
